.card {
  background-color: #fff;
  color: #292929;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  position: relative;
  width: 300px;
  height: 100%;
  /* Otros estilos específicos de la tarjeta */
}

.cardInner {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Otros estilos específicos del contenido interno de la tarjeta */
}

.cardImage {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 15px;
  /* Otros estilos específicos de la imagen de la tarjeta */
}

.favoriteButton{
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
}
.closeButton {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  top: 10px;
  right: 45px;
  /* Otros estilos específicos de los botones */
}

.cardLink {
  text-decoration: none;
  color: #292929;
  /* Otros estilos específicos del enlace de la tarjeta */
}

.cardTitle {
  margin: 0;
  /* Otros estilos específicos del título de la tarjeta */
}

.cardStatus,
.cardSpecies,
.cardGender,
.cardOrigin {
  margin: 0;
  /* Otros estilos específicos de los elementos de información */
}