.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    /* Otros estilos del contenedor principal */
  }
  
  .select {
    width: 200px; /* Ancho del select */
    padding: 10px; /* Espaciado interno */
    font-size: 16px; /* Tamaño de fuente */
    border: 1px solid #ccc; /* Borde */
    border-radius: 4px; /* Borde redondeado */
    background-color: #fff; /* Color de fondo */
    margin-right: 10px;
    margin-top: 10px;
  }

  .select option {
    padding: 5px; /* Espaciado interno */
    font-size: 14px; /* Tamaño de fuente */
    background-color: #fff; /* Color de fondo */
  }

  .select option:checked {
    background-color: #ccc; /* Color de fondo de la opción seleccionada */
    color: #fff; /* Color de texto de la opción seleccionada */
  }
  
  .cardsRow {
    display: flex;
    flex-wrap: wrap;
    /* Otros estilos de la fila de tarjetas */
  }
  
  .cardWrapper {
    /* flex: 0 0 calc(33.33% - 20px); */
    margin: 10px;
    /* Otros estilos del envoltorio de la tarjeta */
  }